
@model ViewModel.SprintListViewModel

@{
    ViewBag.Title = "addLable";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
}
@section Grid{



    @using (Html.BeginForm("AddLable", "Home", FormMethod.Post))
    {
        <lebel>Sprint Name</lebel>
        <div>
            @Html.TextBoxFor(x => x.SprintName, new { id = "sprintid" })
                @Html.ValidationMessageFor(x => x.SprintName)
                <button type="submit" class="btn btn-success">Add</button>
        </div>
    }
}
