@model jiraDamy.viewModel.TaskTableViewModel
@{
    ViewBag.Title = "FilForm";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
}

@section AddTaskForm{
    @using (Html.BeginForm("AddTask", "Home", FormMethod.Post))
    {
        <div style="font-weight:600;">Add new task</div>
        <lebel>Task Name</lebel>
        <div>@Html.TextBoxFor(x => x.taskName)</div>
        @Html.ValidationMessageFor(x => x.taskName)
        <lebel>Description</lebel>
        <div>@Html.TextBoxFor(x => x.description)</div>
        @Html.ValidationMessageFor(x => x.description)

        <div>
            <select class="select-2 col-lg-3">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div>
            <select id="sagar" class="select-2 col-lg-3">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>

            <button type="button" onclick="Test()"> Test</button>
        </div>
        <div style="margin-top:15px;">

            <button type="reset" style="background-color:lightcoral;float:right;">Clear All</button>
            <button type="submit" style="background-color: lightgreen; float: right;">Add</button>

        </div>

    }
}

@section Grid{
    @{Html.RenderPartial("PartialLinksView", "AddTask");}
}

@section scripts{
    <script>
        function Test() {
            CommonNotifier.showInformation("hiee");
            CommonNotifier.showError("Error");
        }

        $(document).ready(() => {
            commonAjaxCall({
                url: '/home/getdata',
                success: res => {
                    console.log(res)
                }
            });

        })

        loadDropdownAjax({ id: 'sagar', url: '' })
    </script>
}