
@{
    ViewBag.Title = "LoginPage";
}

<style>
    .container {
        height: 350px;
        width: 350px;
        background-color: #ebe1e1;
    }
    .lablelogin {
       margin-top: 20px;
       margin-bottom:20px;
        font-weight: bold;
        font-size:20px;
    }
    .unamePass {
        margin-top: 20px;
        margin-bottom: 20px;
    }

</style>

<div>

    <div class="container">
        <div class="lablelogin">
            <lable > Login</lable>
        </div>
        <div class="unamePass">
            <lable> Username</lable>
            <input type="text" />
        </div>
        <div class="unamePass">
            <lable> Password</lable>
            <input type="password" />
        </div>
       


    </div>

</div>

