@model List<ViewModel.SprintListViewModel>
@{
    ViewBag.Title = "SprintListView";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";

}
@section Grid{

    <div> <h1 style="font-weight:bold;text-align:center">Sprint List</h1></div>
    <a href="@Url.Action("AddSprint", "Home")" class="btn btn-success" style="float:right">Create Sprint</a>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <div class="text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sprints Name</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SprintName</td>
                    </tr>

                }

            </tbody>

        </table>


    </div>

}

@section scripts{
    <script>


    </script>
}